/*NAVBAR*/
.fadeIn{
  background-color: #F7F9F9;
}
.greenNav{
  background-color: #A3E4D7;
}
.transition {    
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.logotxt{
  font-family: 'Monoton', cursive;
  font-size: 30px;
  color: black; 
}
#mainNav {  /* #mainNav tags adapted from "startbootstrap-freelancer" */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  border: none;
  margin-left: 0px;
}
#mainNav a:focus {
  outline: none;
}
#mainNav .navbar-nav {
  letter-spacing: 1px;  
}
#mainNav .navbar-nav li.nav-item a.nav-link {
  color: black; 
}
#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #1ABC9C;
  outline: none; 
}
#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: black; 
}
#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  text-transform: uppercase;
  color: black;
  border-color: black; 
}
/*Home*/
#about{ 
  background: #66dbff;  
  padding-top: 30px;
  padding-bottom: 30px;
}
#about p{
  padding-left: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 10px;
  font-weight: 300;
}
#profile-pic{
  width: 70%;
  border-radius: 50%; 
  padding: 30px; 
} 

.titleImage{
  background: url(../img/headerimage.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 560px; 
  overflow: hidden;
}
@media only screen and (min-width: 768px) {
  .titleImage{ 
    background: url(../img/headerimage.jpg) no-repeat center center fixed;
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 702px;
    overflow: hidden; 
  }
}
#title-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  color: #0957a6;
  background: rgba(16, 191, 216, .5);
  padding-top: 20px;
  margin-bottom: 30px;
  margin-left: -17px;
  margin-right: -17px; 
}
.header-color{
  color: #0957a6;
}
#big-header{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 40px; 
}